#By Voldracarno Draconor (2017-2018)

[Unit]
Description=Dragonhost Cronscript starter
After=httpd.service mariadb.service

[Service]
ExecStart=/usr/bin/dh_cronscript.sh &
ExecStop=touch /tmp/dragonhost/dh-cronscript-run
ExecReload=echo "Not supported!"
Restart=always
TimeoutSec=120
