#By Voldracarno Draconor (2017-2018)

[Unit]
Description=Dragonhost Cronscript starter
After=httpd.service mariadb.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/dh_cronscript.sh
ExecStop=/bin/touch /tmp/dh-cronscript-run
ExecReload=/bin/echo "Not supported!"
TimeoutSec=120
PIDFile=/tmp/Dh_Cronscript.pid
KillMode=none

[Install]
WantedBy=multi-user.target